.searchContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: end;
}
.col {
  padding: 10px;
}
.buttonContainer {
  text-align: right;
}
.button {
  width: 100%;
  border-radius: 4px !important;
  margin-bottom: 12px;
  background-color: #ffbb00;
  border-color: #ffbb00;
  font-size: 13px;
  color: #444;
  font-weight: bold;
  height: 48px;
  display:flex;
  gap:6px;
  justify-content: center;
  align-items: center;
}
.input {
  height: 48px;
  font-size: 13px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

