.logo {
  height: auto !important;
  width: 340px !important;
  clear: both;
  margin: 0 auto;
  position: relative !important;
}
.logoContainer {
  clear: both;
  width: 100%;
  text-align: center;
}
.url {
  font-style: italic;
  font-size: 13px;
}
.title {
  color: #ffbb00;
  font-size: 49px !important;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.38);
}
.banner {
  width: 100%;
  height: auto;
  position: relative;
  border: 1px solid;
  margin: 0;
  padding-bottom: 0;
}
.bannerTextContainer {
  position: absolute;
  left: 50%;
  top: 44%;
  width: 100%;
  max-width: 1400px;
  transform: translate(-50%, -44%);
}
.bannerText {
  font-weight: bold;
  position: absolute;
  font-size: 40px;
  color: #ffbb00;
  font-size: 49px !important;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.38);
  line-height: 54px;
}
@media (max-width: 1200px) {
  .bannerText {
    font-size: 32px !important;
    line-height: 44px !important;
  }
}

@media (max-width: 900px) {
  .bannerText {
    font-size: 26px !important;
    text-align: center !important;
    line-height: 34px !important;
    width: 100%;
  }
  .bannerTextContainer {
    text-align: center !important;
  }
  .banner {
    text-align: center !important;
  }
}
