const API_BASE_URL = "http://localhost:8000";
export const SITE_BASE_URL = "http://localhost:3000";
export const demoMode = false;
export const stripePkKey = "pk_test_TYzwqWFgrfgdFG3gG43m8";

const apiUrls = {
  getHomeEvents: `${API_BASE_URL}/api/v1/events/?limit=6`,
  getEvents: `${API_BASE_URL}/api/v1/events`,
  getEventBySlug: `${API_BASE_URL}/api/v1/event/slug`,
  getEventById: `${API_BASE_URL}/api/v1/event/id`,
  getUserInfo: `${API_BASE_URL}/api/v1/users`,
  postStripeIntent: `${API_BASE_URL}/api/v1/payment-intent`,
  postBooking: `${API_BASE_URL}/api/v1/booking/create`,
  postBookingSuccess: `${API_BASE_URL}/api/v1/booking/success`,
};

export default apiUrls;