.divider1 {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 8px 1px rgba(32, 32, 32, 0.2);
}

.spacer {
  clear: both;
  width: 100%;
}
